<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{!-- add helper format_date function --}}
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>


{{!-- this to refer to the parent object or array that's available in the context of the partial. --}}

{{!-- but when dealing with objects, we can simply access the object properties directly (e.g., vote_count instead of
this.vote_count --}}