<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Just Tech News</a>
            </h1>
        </header>
        <main>
            {{!-- {{{ body }}}. 这是稍后将插入的数据的 Handlebars.js 语法 --}}
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

</body>

</html>/

{{!-- Models: the core data of your app --}}

{{!-- Views: the UI components, such as your HTML layouts --}}

{{!-- Controllers: the link between your models and views --}}