<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!-- import from the partial --}}
    {{!-- the > symbol followed by the name of the Handlebars.js file expresses a partial. --}}
    {{> post-info post }}
  </li>
  {{/each}}
</ol>